/* 摩登样式 by LAPLACE Chat */
/* 引入 Google Fonts 字体，理论上国内可以直接访问 */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,600;1,400;1,600&display=swap');

/* ============== 全局设置 ============== */
/* 全局背景透明，可保证 OBS 载入弹幕机的过程中背景全程透明 */
body { 
  background-color: rgba(0, 0, 0, 0); 
}

/* 全局事件变量 */
.event {
  /* 应用全局自定义字体 */
  /* --font-sans 为 LAPLACE Chat 内置变量，可调用非衬线字体 */
  --event-font-family: 'Jost', var(--font-sans);

  /* 应用变量 */
  --event-danmaku-streamer-text: rgb(255, 255, 255);
  --event-danmaku-mod-text: rgb(255, 255, 255);
  
  /* 全局间距 */
  margin: calc(var(--1px) * 8) 0;
}

/* ============== 弹幕样式配置 ============== */
/* 配置弹幕变量 */

/* ============== 舰长等级样式 ============== */
/* 总督变量 */
.event--message.guard-level--1 {
  --bg: rgb(255,188,199);
}

/* 提督变量 */
.event--message.guard-level--2 {
  --bg: rgb(255,188,199);
}

/* 舰长变量 */
.event--message.guard-level--3 {
  --bg: rgb(255,188,199);
}

/* 主播变量 */
.event--message.user-type--streamer {
  --bg: rgb(244, 208, 90);
}

.event--message {
  --text: rgb(89, 89, 89);
  --bg: rgb(254,235,228);
  --avatar-size: 0px;
  
  /* 弹幕正文改为聊天泡泡样式 */
  position: relative;
  display: flex;
  flex-direction: column;
  /*
    上方用户名字体偏小，下方文本字体偏大，导致下方 line-height 更高
    因此此处要调高上方 padding 来实现 visual align
  */
  padding-left: calc(var(--1px) * 35);
  padding-right: calc(var(--1px) * 35);
  padding-top: calc(var(--1px) * 8);
  padding-bottom: calc(var(--1px) * 4);
  color: var(--text);
  font-weight: bold;
  background-color: var(--bg);
  overflow: hidden;
  align-items: center;
}

/* 左侧樱花 */
.event--message::before {
  content: "";
  position: absolute;
  left: calc(var(--1px) * 10);
  top: 50%;
  transform: translateY(-50%) scaleX(-1);
  width: calc(var(--1px) * 20);
  height: calc(var(--1px) * 20);
  background-image: url("https://p.sda1.dev/23/bcaf29fd34d9a7e198fc17550237f976/cherry-blossom_1f338.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* 右侧对称樱花 */
.event--message::after {
  content: "";
  position: absolute;
  right: calc(var(--1px) * 10); /* 使用right而不是left定位到右侧 */
  top: 50%;
  transform: translateY(-50%);
  width: calc(var(--1px) * 20);
  height: calc(var(--1px) * 20);
  background-image: url("https://p.sda1.dev/23/bcaf29fd34d9a7e198fc17550237f976/cherry-blossom_1f338.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* 新换行显示弹幕正文 */
.event--message .message {
  display: block;
}

/* 去除头像 */
.event--message .avatar-wrap,
.event--message .tabler-icon {
  display: none;
}

/* 强制缩小用户名 */
.event--message .username {
  /* 不知道为什么右边有一块空白，只能右移用户名了 */
  padding-left: calc(var(--1px) * 8);
  padding-bottom: calc(var(--1px) * 4);
  color: rgb(200, 97, 138);
  font-size: calc(var(--1px) * 14);
}

/* ============== 头衔与勋章 ============== */
/* 隐藏舰长图标 */
.event-type--message .meta .guard-badge {
  display: none;
}

/* 隐藏房管图标 */
.event-type--message .meta .mod-badge {
  display: none;
}

/* 隐藏主播图标 */
.event-type--message .meta .streamer-badge {
  display: none;
}

/* 隐藏粉丝勋章相关 */
.event--message .fans-medal {
  display: none;
}

.event--message .fans-medal-content {
  display: none;
}

.event--message .fans-medal-level {
  display: none;
}

/* 隐藏舰长图标 */
.event--message .fans-medal-content .guard-badge {
  display: none;
}

/* ============== 礼物样式 ============== */
/* 低价礼物隐藏 */
.event-type--gift.event-show-as--normal.event-size--normal .avatar-wrap{
  display: none;
}

/* 高价礼物，隐藏头像 */
.event-type--gift.event-show-as--normal.event-size--highlight .avatar-wrap {
  display: none;
}

/* 隐藏礼物图片 */
.event-type--gift.event-show-as--normal.event-size--highlight .gift-icon-wrap {
  display: none;
}

/* 头部样式 */
.event-type--gift.event-show-as--normal.event-size--highlight .top {
  display: flex;
  flex-direction: column;
}

/* 用户名 */
.event-type--gift.event-show-as--normal.event-size--highlight .username {
  display: flex;
  flex-direction: column;
  width: 100%;
  opacity: .6;
  font-size: calc(var(--1px) * 14);
  line-height: 1.2;
}

.event-type--gift.event-show-as--normal.event-size--highlight {
  padding-left: 60px;
  padding-right: 60px;
}

/* 价格 */
.event-type--gift.event-show-as--normal.event-size--highlight .price {
  width: 100%;
  display: flex;
  justify-content: center;
  opacity: .6;
  font-size: calc(var(--1px) * 10);
  line-height: 1.2;
}

.event-type--gift.event-show-as--normal.event-size--normal .gift-icon-wrap {
  display: none;
}

.event-type--gift.event-show-as--normal.event-size--normal .gift-details-name::before {
  content: " ";
}

/* 通用礼物样式 */
.event--gift.event-show-as--normal {
  position: relative;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
  align-items: center;
}

/* 礼物樱花装饰 */
.event--gift.event-show-as--normal.event-size--highlight::before {
  content: "";
  position: absolute;
  left: calc(var(--1px) * 10);
  top: 50%;
  transform: translateY(-50%) scaleX(-1);
  width: calc(var(--1px) * 20);
  height: calc(var(--1px) * 20);
  background-image: url("https://p.sda1.dev/23/f6e758daea2318100ce6b1479670cc65/cherry-blossom-pink.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.event--gift.event-show-as--normal.event-size--highlight::after {
  content: "";
  position: absolute;
  right: calc(var(--1px) * 10);
  top: 50%;
  transform: translateY(-50%);
  width: calc(var(--1px) * 20);
  height: calc(var(--1px) * 20);
  background-image: url("https://p.sda1.dev/23/f6e758daea2318100ce6b1479670cc65/cherry-blossom-pink.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* 隐藏盲盒相关 */
.price-blind-result {
  display: none;
}

.gift-blind-name {
  font-weight: bold;
}

/* ============== MVP礼物 ============== */
.event-type--mvp.event-show-as--normal .avatar-wrap {
  display: none;
}

.event-type--mvp.event-show-as--normal .mvp-icon-wrap {
  display: none;
}

.event-type--mvp.event-show-as--normal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-type--mvp.event-show-as--normal .top {
  display: flex;
  flex-direction: column;
}

.event-type--mvp.event-show-as--normal .username {
  display: flex;
  flex-direction: column;
  width: 100%;
  opacity: .6;
  font-size: calc(var(--1px) * 14);
  line-height: 1.2;
}

.event-type--mvp.event-show-as--normal .price {
  margin-top: calc(var(--1px) * -6);
  width: 100%;
  display: flex;
  justify-content: center;
  opacity: .6;
  font-size: calc(var(--1px) * 10);
  line-height: 1.2;
}

/* 删除本来的CN¥标志 */
.event-type--mvp.event-show-as--normal .price-currency {
  display: none;
}

/* 增加新的货币标志并调整透明度、字重 */
.event-type--mvp.event-show-as--normal .price-figure:before {
  content: '¥';
  opacity: 0.8;
  font-weight: 400;
}

/* MVP样式 */
.event--mvp.event-show-as--normal {
  position: relative;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
  align-items: center;
  background-color: rgb(255, 0, 0);
  color: rgba(255, 255, 255);
}

/* MVP樱花装饰 */
.event--mvp.event-show-as--normal::before {
  content: "";
  position: absolute;
  left: calc(var(--1px) * 10);
  top: 50%;
  transform: translateY(-50%) scaleX(-1);
  width: calc(var(--1px) * 20);
  height: calc(var(--1px) * 20);
  background-image: url("https://p.sda1.dev/23/f6e758daea2318100ce6b1479670cc65/cherry-blossom-pink.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.event--mvp.event-show-as--normal::after {
  content: "";
  position: absolute;
  right: calc(var(--1px) * 10);
  top: 50%;
  transform: translateY(-50%);
  width: calc(var(--1px) * 20);
  height: calc(var(--1px) * 20);
  background-image: url("https://p.sda1.dev/23/f6e758daea2318100ce6b1479670cc65/cherry-blossom-pink.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* ============== SuperChat样式 ============== */
/* 不显示头像，如果只隐藏avatar，边框仍会存在 */
.event-type--superchat.event-show-as--normal .avatar-wrap {
  display: none;
}

/* 仅对用户名居中处理 */
.event-type--superchat.event-show-as--normal .username {
  display: flex;
  flex-direction: column;
  width: 100%;
  opacity: .6;
  font-size: calc(var(--1px) * 14);
  line-height: 1.2;
}

/* 删除本来的CN¥标志 */
.event-type--superchat.event-show-as--normal .price-currency {
  display: none;
}

/* 增加新的货币标志并调整透明度、字重 */
.event-type--superchat.event-show-as--normal .price-figure:before {
  content: '¥';
  opacity: 0.8;
  font-weight: 400;
}

/* 调整价格居中 */
.event-type--superchat.event-show-as--normal .price {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  opacity: .6;
  font-size: calc(var(--1px) * 10);
  line-height: 1.2;
}

.event--superchat.event-show-as--normal {
  position: relative;
  flex-direction: column;
  font-weight: bold;
  overflow: hidden;
  text-align: center;
  align-items: center;
}

/* SuperChat樱花装饰 */
.event--superchat.event-show-as--normal::before {
  content: "";
  position: absolute;
  left: calc(var(--1px) * 10);
  top: calc(var(--1px) * 20);
  transform: translateY(-50%) scaleX(-1);
  width: calc(var(--1px) * 20);
  height: calc(var(--1px) * 20);
  background-image: url("https://p.sda1.dev/23/b2bd9ea693514ed35ab2308a830a7580/cherry-blossom-red.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.event--superchat.event-show-as--normal::after {
  content: "";
  position: absolute;
  right: calc(var(--1px) * 10);
  top: calc(var(--1px) * 20);
  transform: translateY(-50%);
  width: calc(var(--1px) * 20);
  height: calc(var(--1px) * 20);
  background-image: url("https://p.sda1.dev/23/b2bd9ea693514ed35ab2308a830a7580/cherry-blossom-red.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* ============== 舰长相关样式 ============== */
/* 舰长Toast样式 */
.event-type--toast.event-show-as--normal .avatar-wrap,
.event-type--toast.event-show-as--normal .toast-details-total-days-text-before,
.event-type--toast.event-show-as--normal .toast-details-total-days,
.event-type--toast.event-show-as--normal .toast-details-total-days-text-after {
  display: none;
}

.event--toast.event-show-as--normal {
  position: relative;
  --avatar-size: 0;
  --badge-size: 0;
  background-image: none;
}

.event-type--toast.event-show-as--normal .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  line-height: 1.2;
}

/* 仅对用户名居中处理 */
.event-type--toast.event-show-as--normal .username {
  opacity: .6;
  font-size: calc(var(--1px) * 14);
  line-height: 1.2;
}

/* 删除本来的CN¥标志 */
.event-type--toast.event-show-as--normal .price-currency {
  display: none;
}

/* 增加新的货币标志并调整透明度、字重 */
.event-type--toast.event-show-as--normal .price-figure:before {
  content: '¥';
  opacity: 0.8;
  font-weight: 400;
}

/* 调整价格居中 */
.event-type--toast.event-show-as--normal .price {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  opacity: .6;
  font-size: calc(var(--1px) * 10);
  line-height: 1.2;
}

/* 舰长Toast樱花装饰 */
.event--toast.event-show-as--normal::before {
  content: "";
  position: absolute;
  left: calc(var(--1px) * 10);
  top: 50%;
  transform: translateY(-50%) scaleX(-1);
  width: calc(var(--1px) * 20);
  height: calc(var(--1px) * 20);
  background-image: url("https://p.sda1.dev/23/f6e758daea2318100ce6b1479670cc65/cherry-blossom-pink.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.event--toast.event-show-as--normal::after {
  content: "";
  position: absolute;
  right: calc(var(--1px) * 10);
  top: 50%;
  transform: translateY(-50%);
  width: calc(var(--1px) * 20);
  height: calc(var(--1px) * 20);
  background-image: url("https://p.sda1.dev/23/f6e758daea2318100ce6b1479670cc65/cherry-blossom-pink.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.event-type--toast.event-show-as--normal .toast-details-type {
  font-weight: bold;
}

/* ============== 通用消息样式 ============== */
.event-type--superchat.event-show-as--normal .message,
.event-type--gift.event-show-as--normal .message,
.event-type--toast.event-show-as--normal .message,
.event-type--mvp.event-show-as--normal .message {
  /* 标准字号 */
  font-size: calc(var(--1px) * 16);
}

.event-type--mvp.event-show-as--normal .message,
.event-type--gift.event-show-as--normal.event-size--highlight .message {
  line-height: 1.2;
}

/* 去除礼物图标占据的位置 */
.event--message.event-show-as--normal .content,
.event--toast.event-show-as--normal .content,
.event--gift.event-show-as--normal.event-size--highlight .content,
.event--mvp.event-show-as--normal .content,
.event--red-envelope-start.event-show-as--normal.event-size--highlight .content,
.event--lottery-start.event-show-as--normal .content {
  --avatar-size: 0;
}

/* ============== 其他样式 ============== */
/* 一个简易的渐变淡出效果，可以让组件边缘看起来没那么突兀 */
.event-list {
  --offset: 100px;
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) var(--offset));
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) var(--offset));
}

/* 隐藏红包、天选 */
.event-type--red-envelope-start.event-show-as--normal,
.event-type--red-envelope-result,
.event-type--lottery-start.event-show-as--normal,
.event-type--lottery-result {
  display: none;
}